<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <dependentAssembly>
      <assemblyIdentity name="Neodynamic.SDK.ThermalLabel" publicKeyToken="0630b9b3415848af" culture="neutral"/>
      <bindingRedirect oldVersion="7.0.3500.0" newVersion="7.0.3500.0"/>
      <bindingRedirect oldVersion="8.0.0.0" newVersion="8.0.0.0"/>
      <codeBase version="7.0.3500.0" href="Neodynamic.SDK.ThermalLabel.dll"/>
      <codeBase version="8.0.0.0" href="Neodynamic.SDK.ThermalLabel_v8.dll"/>
    </dependentAssembly>
  </runtime>
</configuration>